<nav>
    <a href="https://webpages.charlotte.edu/nkiorogl/">Charlotte Web Page</a>
    <a href="https://github.com/NatKio">GitHub</a>
    <a href="https://natkio.github.io/itis3135/">GitHub.io</a>
    <a href="https://www.freecodecamp.org/natkio">freeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/NatKio">Codecademy</a>
    <a href="https://www.linkedin.com/in/natalie-kioroglo-2b0790180/">LinkedIn</a>
</nav>
    <p>Page Designed by <a href = "../natkiodesigns.com/index.html">NatKio Designs</a> &copy; 2025 </p>