<h1> Natalie Kioroglo ⟢ ITIS 3135 </h1>
<nav>
    <a href="./">Home</a>
    <a href="introduction.html">Introduction</a>
    <a href="website_evaluations.html">Evaluations</a>
    <a href="contract.html">Contract</a>
    <a href="intro_form.html">Intro Form</a>
    <a href="project_overview.html">Project Overview</a>
</nav>
<nav>
    <a href="/natkio.github.io/nimbleklipspringer.com/index.html">Nimble Klipspringer</a>
    <a href="/natkio.github.io/stuff/index.html">Crappy Webpage</a>
    <a href="../hobby/index.html">Hobby Page</a>
    <a href="/itis3135-react/itis3135-react/src/main.js">React3</a>
</nav>
    